* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #282828;
    color: #ebdbb2;
} 

body {
    width: 100%;
    height: 100vh;
}

.flexbox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 40px;
    display: flex;
}

.content div {
    border: 1px solid #ebdbb2;
    padding: 10px;
    margin: 10px;
    width: 500px;
}

.content div h2 {
    margin-bottom: 20px;
}

h1 {
    font-size: 81px;
}

a {
    font-size: 18px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    color: #ebdbb2;
}
