/*
  __  __   _           _                     
 |  \/  | (_)         (_)                    
 | \  / |  _   _ __    _   _ __ ___     __ _ 
 | |\/| | | | | '_ \  | | | '_ ` _ \   / _` |
 | |  | | | | | | | | | | | | | | | | | (_| |
 |_|  |_| |_| |_| |_| |_| |_| |_| |_|  \__,_|
                                            

*/


/* User changable variables */

:root {
  --tab-font-size: 14px; /* Font size of the tab labels */
  --tab-font-family: Terminus,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; /* The font used for the tab labels */
  --max-tab-width: none; /* The maximum width a tab in the tab bar can use. Set this to none for no limit */
  --show-titlebar-buttons: none; /* Hide the buttons (close/minimize/maximize) in the title bar. Required on some platforms (e.g macOS) to fully hide the title bar. `none` hides them, `block` shows them */
}

/* Minima Source Code. Here be dragons. */
/* Only change this if you know what you're doing */

.titlebar-buttonbox-container {
	display: var(--show-titlebar-buttons);
}


:root:not([customizing]) #TabsToolbar {
  max-height: 20px !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
  border-radius: 0 !important;
  padding: 2 !important;
}
.tabbrowser-tab * {
  margin:0 !important;
  padding:2 !important;
  border-radius: 0 !important;
  height: 20px !important;
  font-family: var(--tab-font-family) !important;
}
.tabbrowser-tab {
  min-height: 12px !important;
  font-size: var(--tab-font-size) !important;
}
.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: var(--max-tab-width) !important;
}
.tab-close-button, .new-tab-button {
  display: none !important;
}

#tabs-newtab-button, #titlebar spacer {
  display: none !important;
}

.tab-background[selected="true"] {
  background-color: #b57614 !important;
  background-image: none !important;
  }
.tab-icon-image  {
  width:13px  !important;
  height:13px !important;
  margin-top:3px !important;
  margin-right:5px !important;
  margin-left:2px !important;
}
  
:root:not([customizing]) #nav-bar
{
  min-height : 2.5em       !important;
  height     : 2.5em       !important;
  margin     : 0 0 -2.5em  !important;
  z-index    : -1000       !important;
  opacity    : 0           !important;
}

:root:not([customizing]) #nav-bar:focus-within
{
  z-index    : 1000        !important;
  opacity    : 1           !important;
}

#nav-bar{
  border-inline: var(--uc-window-drag-space-width) solid var(--toolbar-bgcolor);
}
#new-tab-button, #alltabs-button, #scrollbutton-down, .tab-loading-burst{
  display: none;
}
#titlebar {
  overflow: none !important;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_with_one_tab.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes tabs toolbar items zero-height initially and sets enlarge them to fill up space equal to tab-min-height set on tabs. Optionally use privatemode_indicator_as_menu_button.css to replace main menu icon with private browsing indicator while tabs are hidden. */
/* Firefox 65+ only */

:root[sizemode="normal"] #nav-bar{ --uc-window-drag-space-width: 20px }

#titlebar{ -moz-appearance: none !important; }
#TabsToolbar{ min-height: 0px !important }

#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-arrowscrollbox{ min-height: 0 !important; }

:root:not([customizing]) #tabbrowser-tabs .tabs-newtab-button,
:root:not([customizing]) #tabs-newtab-button,
:root:not([customizing]) #TabsToolbar-customization-target > .toolbarbutton-1,
:root:not([customizing]) #TabsToolbar .titlebar-button{
  -moz-appearance: none !important;
  height: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  -moz-box-align: stretch;
  margin: 0 !important;
}

.accessibility-indicator,
.private-browsing-indicator{ 
  height: unset !important;
}
.accessibility-indicator > hbox{ padding-block: 0 !important }

#tabbrowser-tabs .tabbrowser-tab{ height: var(--tab-min-height) }

#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]{
  visibility: collapse !important;
}

/* Button re-styling */
#tabs-newtab-button:hover,
#tabbrowser-tabs .tabs-newtab-button:hover{ background-color: var(--toolbarbutton-hover-background) }

#tabs-newtab-button > .toolbarbutton-icon,
#tabbrowser-tabs .tabs-newtab-button > .toolbarbutton-icon{
  padding: 0 !important;
  transform: scale(0.6);
  background-color: transparent !important;
}
/* Extra top padding  in maximized window */
@media (-moz-os-version: windows-win10){
  :root[sizemode="maximized"] #navigator-toolbox{ padding-top:7px !important; }
}
/* Fix window controls not being clickable */
:root[tabsintitlebar] #toolbar-menubar[autohide="true"][inactive]{
  transition: height 0ms steps(1) 80ms;
}
#nav-bar{
  border-inline: var(--uc-window-drag-space-width) solid var(--toolbar-bgcolor);
}
#navigator-toolbox {
  appearance: toolbar !important; /* Pretty much anything except none */
}
